/.github/ export-ignore
/tests/ export-ignore
/composer.lock export-ignore
/composer-require-checker.json export-ignore
/renovate.json export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/psalm-baseline.xml export-ignore
/.laminas-ci.json export-ignore
