<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         displayDetailsOnAllIssues="true"
         failOnPhpunitWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnWarning="true"
         colors="true">
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
